* {
  box-sizing: border-box;
}

.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
  float: left;
  &_user {
    height: 100px;
    background-color: #253141;
    align-items: center;
    display: flex;
    position: relative;
    &_top-items {
      height: 20px;
      width: 260px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      color: #ffffff;
      font-size: 16px;
      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &-group {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    color: #ffffff;
    padding: 20px 20px 0;
    color: white;
    overflow: scroll;
    a {
      color: white;
      text-decoration: none;
    }
    &-one {
      font-size: 15px;
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 5px;
      color: white;
      &-message {
        font-size: 11px;
        padding-bottom: 40px;
      }
    }
    &-two {
      font-size: 15px;
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 5px;
      &-message {
        font-size: 11px;
        padding-bottom: 40px;
      }
    }
  }
}

.main-chat {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #ffffff;
  float: right;
  &-top {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &-left {
      &-name {
        font-size: 20px;
        color: #333333;
        margin-top: 35px;
        margin-left: 40px;
        &-li {
          font-size: 12px;
          color: #999999;
          margin-top: 15px;
        }
      }
    }
    &-right {
      &-edit {
        width: 72px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        border: 1px solid #38aef0;
        margin-top: 28px;
        margin-right: 40px;
        a {
          color: #38aef0;
          text-decoration: none;
        }
      }
    }
  }
  .main-chat-messages {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding-left: 40px;
    overflow: scroll;
    padding-bottom: 40px;
  .message {
    .upper-message {
      display: flex;
      padding-top: 35px;
      .upper-message__user-name {
        color: #333333;
        font-size: 16px;
      }
      .upper-message__date {
        color: #999999;
        font-size: 12px;
        padding-left: 10px;
      }
      .lower-message {
        color: #434A54;
        font-size: 14px;
        padding-top: 12px;
        padding-bottom: 46px;
      }
    }

    .upper-message {
      display: flex;
      padding-top: 35px;
      .upper-message__user-name {
        color: #333333;
        font-size: 16px;
      }
      .upper-message__date {
        color: #999999;
        font-size: 12px;
        padding-left: 10px;
      }
      .lower-message {
        color: #434A54;
        font-size: 14px;
        padding-top: 12px;
        padding-bottom: 46px;
      }
    }

    .upper-message {
      display: flex;
      padding-top: 35px;
      .upper-message__user-name {
        color: #333333;
        font-size: 16px;
      }
      .upper-message__date {
        color: #999999;
        font-size: 12px;
        padding-left: 10px;
      }
      .lower-message {
        color: #434A54;
        font-size: 14px;
        padding-top: 12px;
        padding-bottom: 46px;
      }
    }
     
    }
  }

      
    
  
  .form {
    height: 90px;
    width: 100%;
    background-color: #d2d2d2;
    display: flex;
    bottom: 0;
    padding: 20px 40px;
    .top {
      display: flex;
      width: 100%;
      height: 100%;
     
      .form__message {
        height: 100%;
        width: 100%;
        position: relative;
      }
      .form__mask {
          height: 40%;
          bottom: 5px;
        
      .form__mask__image{
        .icon {
          font-size: 22px;
          position: absolute;
          line-height: 50px;
          right: 158px;
          // bottom: 34px;
        }
        .hidden {
          display: none;
        }
      }
      }
    }
    .submit {
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
  }
}